{% extends 'layout.html.twig' %}

{% block content %}


	<main class="app-content">
		<div class="app-title">
			<div>
				<h1>
					{{ dump(finishProject)}}
					<i class="fa fa-dashboard"></i>&nbsp;Tableau de bord</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<div class="widget-small info coloured-icon">
							<i class="icon fa fa-spinner fa-3x" aria-hidden="true"></i>
							<div class="info">
								<p class="text-muted text-sm text-uppercase">Projets en cours</p>
								<p>
									<strong>{{ progressProject }}</strong>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget-small warning coloured-icon">
							<i class="icon fa fa-check-square-o fa-3x" aria-hidden="true"></i>
							<div class="info">
								<p class="text-muted text-sm text-uppercase">Projets livrés</p>
								<p>
									<strong>{{ finishProject }}</strong>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget-small primary coloured-icon">
							<i class="icon fa fa-users fa-3x"></i>
							<div class="info">
								<p class="text-muted text-sm text-uppercase">Employés</p>
								<p>
									<strong>{{ employees|length }}</strong>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget-small danger coloured-icon">
							<i class="icon fa fa-calendar-check-o fa-3x" aria-hidden="true"></i>
							<div class="info">
								<p class="text-muted text-sm text-uppercase">Jours de production</p>
								<p>
									<strong>{{ totalTime }}</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card text-uppercase">
							<div class="card-header text-center">Rentabilité</div>
							<div class="card-body">
								<p class="text-muted">
									<i class="fa fa-database mr-2 text-primary"></i>
									70% RENTABLE
								</p>
								<div class="embed-responsive embed-responsive-16by9">
									<canvas id="ratio-chart" class="embed-responsive-item"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-uppercase">
							<div class="card-header text-center">Taux de livraison</div>
							<div class="card-body">
								<p class="text-muted">
									<i class="fa fa fa-check-square-o mr-2 text-primary"></i>
									35% Livrés
								</p>
								<div class="embed-responsive embed-responsive-16by9">
									<canvas id="delivered-chart" class="embed-responsive-item"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header text-center text-uppercase">Top employé</div>
							<div class="card-body">

								{% set maxValue = 0 %}
								{% set bestEmployee =  0 %}
								{% for employee in findBestEmployee %}
									{% if  employee.sumCoast > maxValue  %}
										{% set maxValue = employee.sumCoast %}
										{% set bestEmployee = employee %}
									{% endif %}
								{% endfor %}

								<div class="text-center">
									<img src="img/ui-zac.jpg" class="rounded-circle" width="58">
									<p class="mt-2">
										<strong>
											{{bestEmployee.lastname }}
											-
											{{bestEmployee.firstname}}
										</strong>
									</p>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p class="small mt">EMPLOYÉ DEPUIS</p>
										<p>{{bestEmployee.hireDate|date('d/m/Y')}}
										</p>
									</div>
									<div class="col-md-6">
										<p class="small mt">COÛT TOTAL</p>
										<p>{{bestEmployee.sumCoast}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="tile table-responsive">
					<h2 class="tile-title">Les derniers projets</h2>
					<table class="table table-hover table-striped table-sm">
						<thead>
							<tr>
								<th>Projet</th>
								<th>Date de création</th>
								<th>Prix de vente</th>
								<th>Coût</th>
								<th>Est livré</th>
							</tr>
						</thead>
						<tbody>
							{%  for project in lastCreatedProject %}
								<tr>
									<th>
										<a href="project/list/{{ project.id }}/detail">{{ project.name }}</a>
									</th>
									<th>{{ project.createdAt|date('d/m/Y') }}</th>
									<th>{{ project.price }}</th>
									<th>1000</th>
									<th>
										{% if "now"|date('Y-m-d') > project.deliveredAt|date('Y-m-d') %}
											<span class="badge badge-success">OUI</span>
										{% else %}
											<span class="badge badge-danger">NON</span>
										{% endif %}
									</th>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<div class="tile">
					<h2 class="tile-title text-center">Temps de production</h2>
					<ul class="list-group">
						{% for productionTime in lastCreatedProductionTime %}
							<li class="list-group-item">
								<a href="employee/list/{{ productionTime.employee.id }}/detail">{{ productionTime.employee.lastname }}</a>
								a travaillé sur
								<a href="project/list/{{ productionTime.project.id }}/detail">{{ productionTime.project.name }}</a>
								<div class="text-muted font-italic text-right">{{ productionTime.time }}
									heures</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
